/*Change the font for the whole file*/
*{
    font-family: fantasy;
}
/* scroll bar */
::-webkit-scrollbar {
    width: 19px; /* width for vertical scrolling */
    background-color: black;
}

/* scrollbar slider */
::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: black;
}
/*Background picture*/
body{
    background-size: cover;
    background-image: url("images/Xq5CsOIv1A8.jpg");
    background-attachment: fixed;
}
/*Styling main blocks*/
header, menu, article, footer{
    background-color: black;
    border-radius: 5px;
    opacity: .6;
    color: white;
}
/*Positioning and sizing the header*/
header{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-bottom: 18px;
}
/*Placing blocks by header*/
header div{
    display: inline-block;
    font-size: 35px;
    vertical-align: middle;
    margin-left: 9%;
}
/*I set the size of the picture*/
.header_img{
    width: 100px;
    height: 110px;
}
/*Menu block*/
menu{
    margin-left: 25%;
    width: 9%;
    padding-left: 30px;
}
/*Working with list blocks*/
menu li{
    margin: 20px;
    list-style-type: none;
}
/*Styling a list*/
a{
    text-decoration: none;
    color: white;
}
/*Placing blocks in one line*/
menu, article{
    display: inline-block;
    vertical-align: top;
}
/*Setting the width and working with the article block*/
article{
    margin-top: 16px;
    width: 35%;
    padding: 25px;  
}
/*Header placement*/
h1{
    text-align: center;
}
/*Positioning footer in a window*/
footer{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 50%;
    vertical-align: middle;
    text-align: center;
}
/*Positioning elements in footer*/
footer p{
    display: inline-block;
    margin: 33px;
}